<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Best Place To Buy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>

    <h1>
      <a href="/">
        <nav class= "navbar">
            <img src="/logo.png" width="400" height="100" alt="">
        </nav>
      </a>
    </h1>

    <style>
      .jauge {
        width:160px;
        height:32px;
        background-image: url("/star_black.png");
      }

      .jauge > div {
        background-image: url("/star.png");
      }

      .navbar{
        background-image: url("/navbar.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height : 200px;
      }

    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
